@{ 
    AbbigliamentoECommerce.Models.FilterStatistics wFilter =(AbbigliamentoECommerce.Models.FilterStatistics) ViewBag.FilterStastic;
}
<!DOCTYPE html>
<html>
<head>
    <title>Chart Example</title>
</head>
<body>
    <h1>Statistiche</h1>
    
    <p>
        @Html.Partial("_FilterStatistic", wFilter)
        <img src="@Url.Action("BestSellingProduct")" alt="Bar Chart using MVC" />
    </p>
</body>
</html>